# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub/
.pub-cache/
build/

# Android / IDE
android/.gradle/
android/local.properties
*.iml
.idea/
.vscode/

# macOS
.DS_Store
